<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
<ul>
    <li><a href="/index">Главная</a></li>
    <li><a href="/parsing">Парсинг</a></li>
    <li><a href="/contacts">Контакты</a></li>
</ul>
</nav>

<h2>Контакты</h2>
<p>Татьяна Кулешова</p>
<p>E-mail: tanuscha@bk.ru</p>
<p>Telegram: @Blacky77</p>


<footer>
    Copyright &copy; 2020
    Made by Tatyana Kuleshova
    <p>Сделано на Flask</p>
</footer>

</body>
</html>